<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="../vue.js"></script>
</head>

<style>
#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.highlight {
  background-color: red;
  width: 200px !important;
}
.shrink {
  background-color: gray;
  width: 50px !important;
}
.blue {
  background-color: blue;
}
.float {
  float: right;
}
.text-color {
  color: yellow;
}
.visible {
  width: 100px;
  height: 50px;
}
.progress-bar {
  width: 200px;
  height: 20px;
  border: 1px solid black;
}
</style>
<body>

  <div id="exercise">
    <div>
      <button @click="startEffect">Start Effect</button>
      <div id="effect" :class="effectClasses"></div>
    </div>
    <div :class="[float, 'blue', 'text-color']">I got classes :)</div>
    <div>
      <input type="text" v-model="userClass">
      <div :class="[{visible: true}, userClass]"></div>
    </div>
    <div>
      <input type="text" v-model="userClass">
      <input type="text" v-model="isVisible">
      <div :class="[{visible: isVisible}, userClass]"></div>
    </div>
    <div>
      <input type="text" v-model="myStyle.backgroundColor">
      <div class="box" :style="myStyle"></div>
    </div>
    <div>
      <button @click="startProgress">Start Progress</button>
      <div :class="['progress-bar']" :style="progressBar"></div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#exercise',
      data: {
        effectClasses: {
          highlight: false,
          shrink: true
        },
        float: 'float',
        userClass: '',
        isVisible: true,
        myStyle: {
          width: '100px',
          height: '150px',
          backgroundColor: 'gray'
        },
        progressBar: {
          width: '0px',
          backgroundColor: 'red'
        }
      },
      methods: {
        startEffect() {
          const that = this;
          setInterval(() => {
            that.effectClasses.highlight = !that.effectClasses.highlight;
            that.effectClasses.shrink = !that.effectClasses.shrink;
          }, 1000);
        },
        startProgress() {
          const that = this;
          let width = 0;
          setInterval(() => {
            width += 10;
            that.progressBar.width = width + 'px';
          }, 500);
        }
      }
    })
  </script>
</body>
</html>
